*{
	text-decoration: none;
	color:black;
	margin:0px;
	padding:0px; 
	color: black;
}
body{
	width: 100%;
	height: 100%;
}
.header{
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: white;
	box-shadow: 0px 1px 5px grey;
	margin-bottom: 3px;
	z-index: 9999;
}
.header a:hover{
	background-color: #E0E0E0;
}
.header a,.header a:hover{
	color: black;
	display: inline-block;
	padding: 0px 10px;
	text-decoration: none;
}
.header_nav li{
	font-size: 20px;
	display: inline-block;
	margin-left: 1%;
	line-height: 50px;
}
.space {
	display: inline-block;
	width: 10%;
}
.mainproduct,.mainproduct img{
	width: 90%;
	margin-left: 5%;
/*	background-color: yellow;*/
}

.shortcut{
	width: 1381px;
}
.shortcut1{
	display: inline-block;
	background-color: green;
	width: 25%;
	height: 300px;
	margin-left: 9.2%;
}
.shortcut2{
	display: inline-block;
	background-color: red;
	width: 28%;
	height: 300px;
	position: absolute;
	right: 9.5%;
}
.shortcut3{
	display: inline-block;	
	background-color: black;
	width: 26%;
	height: 300px;
	position: absolute;
}
.shortcut img{
	width: 100%;
	height: 100%;
}
.shortcut4{
	right: 9.5%;
	width: 20%;
	height: 275px;
	position: absolute;
	display: inline-block;
	margin-top:275px;
}
.shortcut5{
	display: inline-block;
	background-color: red;
	width: 37%;
	margin-top:275px;
	height: 275px;
	position: absolute;
}

.carousel-control.left,.carousel-control.right{
	opacity: 0.1;
}

.product_list{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 97px;
}
.tcard{
	display: inline-block;
	margin-left: 50px;
	/*margin-right: 0px;*/
	padding: 5px 5px;
	width: 24%;
	box-shadow: 0 1px 1px grey, 0 0 1px grey, 0 0 1px grey;  
}
.tcard img{
	width: 290px;
	height: 300px;
}
.tcard h2{
	font-weight: bold;
}
.span {
	display: inline-block;
	padding: 5px;
	background-color: red;
	color: white;
	text-decoration: none;
	border-radius: 5px;
}
.tcard h3{
	color: grey;
}
.tcard p{
	font-size: 20px;
}

.bottom{
	width: 100%;
	text-align: center;
	background-color: #E0E0E0;
}
.bottom ul{
	/*margin-top: 20px;*/
	display: inline-block;
	margin-left: 70px;
}
.bottom li{
	list-style: none;
}
.bottom li a,.bottom li a:visted{
	color: black;
	text-decoration: none;
}